<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cbd36197-140e-4c9c-98a7-adc24651e36b/resourceGroups/DUANTOTNGHIEP/providers/Microsoft.Web/sites/tshop</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tshop-e8bkc2degkdpg9eh.eastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>bd542ba6-7759-4d96-86fe-fc42b5d56f99</ProjectGuid>
    <PublishUrl>https://tshop-e8bkc2degkdpg9eh.scm.eastasia-01.azurewebsites.net/</PublishUrl>
    <UserName>$tshop</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>